In [83]:
import json
import os
import plotly.express as px

files= os.listdir("../data/qvalues/")
data_list= []

for file in files:
    with open("../data/qvalues/"+file) as f:
        data= json.load(f)
        data_list.append(data)
len(data_list)

101

In [84]:
#dict to pandas
import pandas as pd

df= pd.DataFrame(data_list)
df= df.T.reset_index()
df[["x", "y", "vel"]]= df["index"].str.split("_", expand= True) 
df= df.drop(columns= "index")
df= df.melt(id_vars= ["x", "y", "vel"], var_name= "iteration")
df[['no-flap', 'flap']] = pd.DataFrame(df['value'].tolist(), index=df.index)
df = df.drop(columns='value')
df= df.rename(columns={0:"no-flap", 1:"flap"} )
df= df.melt(id_vars= ["x", "y", "vel", "iteration"], var_name= "flap", value_name= "qvalue")
df

           x     y  vel iteration     flap  qvalue
0        -40  -300  -10         0  no-flap     0.0
1        -40  -300   -9         0  no-flap     0.0
2        -40  -300   -8         0  no-flap     0.0
3        -40  -300   -7         0  no-flap     0.0
4        -40  -300   -6         0  no-flap     0.0
...      ...   ...  ...       ...      ...     ...
5170993  420   420    6       100     flap     0.0
5170994  420   420    7       100     flap     0.0
5170995  420   420    8       100     flap     0.0
5170996  420   420    9       100     flap     0.0
5170997  420   420   10       100     flap     0.0

[5170998 rows x 6 columns]

In [85]:
df.dtypes

x             object
y             object
vel           object
iteration     object
flap          object
qvalue       float64
dtype: object

In [86]:
df["x"]= df["x"].astype(int)
df["y"]= df["y"].astype(int)
df["vel"]= df["vel"].astype(int)
df["iteration"]= df["iteration"].astype(int)*100

In [103]:
velocity= 0
df_plot= df[(df["vel"]==velocity) & (df["y"]<200)].copy()
fig= px.scatter(df_plot, x="x", y="y", color="qvalue", animation_frame="iteration", height=800, 
            facet_col="flap",
            color_continuous_scale= px.colors.diverging.Temps_r,
            color_continuous_midpoint=0,
            title="Q-values for velocity= "+str(velocity))
fig.write_html(f"qvalues_vel{velocity}/index.html")